output.txt
temp/*
TODO
output/*
__pycache__
__pycache__/*
*.docx
*.json
testbox
venv
.venv
dist
build
*.egg-info
*.spec
.env
*data
test_env/*
test/sample/*
test/archive/
test/analysis/*
test/temp/*
test/output/*
test/gif/
test/*.jar
test/input*
test/rd
target/*
./*.py
demo
*.tar
