output.txt
temp/*
TODO
output/*
__pycache__
__pycache__/*
*.docx
*.json
testbox
venv
.venv
dist
build
*.egg-info
*.spec
.env
*data
test_env/sample/*
test_env/archive/
test_env/analysis/*
test_env/temp/*
test_env/output/*
test_env/gif/
test_env/*.jar
test_env/input*
test_env/rd
target/*
